##The DB URL (use this form for PostgreSQL: jdbc:postgresql://<HOST_NAME>>:5432/apiconsole
local.db.url=

##Username to use to connect to the DB
local.db.username=

##Password to use to connect to the DB
local.db.password=
